:host {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .head-area{
        display: flex;
        gap: 10px;
        align-items: center;
    }
}

.test{
    width: 700px;
    height: 300px;
    margin: 50px;
    margin-bottom: 200px;
}