<div class="main">
    <div class="left">
        <div class="hero">
            <div class="icon">
                <svg width="26" height="32" viewBox="0 0 26 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_1519_5970)">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M25.0591 2.32796L19.4167 7.22063V20.202C19.4167 20.202 19.2589 26.1994 12.7091 26.1994C6.1592 26.1994 6.06332 20.202 6.06332 20.202C6.06332 20.202 6.00137 15.3093 6.00137 14.0072C6.08029 12.0738 7.55519 10.4995 8.84228 9.46967C10.6178 8.04922 15.7472 4.18244 15.7472 4.18244L11.4464 0L3.39721 6.74714C3.39721 6.74714 2.01622 7.65465 0.950881 9.98262C-0.114458 12.3106 0.00391309 13.5732 0.00391309 13.5732V19.9029C0.00391309 19.9029 -0.430113 31.9207 12.8669 31.9996C26.1639 32.0785 25.0591 20.202 25.0591 20.202V2.32796Z"
                            fill="#5FBE71" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M17.5228 8.95679L12.9064 12.7841V23.2824L17.5228 19.5833V8.95679Z" fill="#5FBE71" />
                    </g>
                    <defs>
                        <clipPath id="clip0_1519_5970">
                            <rect width="25.0815" height="32" fill="white" />
                        </clipPath>
                    </defs>
                </svg>

            </div>
            <div class="separator"></div>
            <h2 class="title">Ensemble UI</h2>
        </div>
        <div class="menu">
            <div class="menu-item">
                <span class="name">Getting Started</span>
                <span class="chevron"></span>
            </div>
            <div class="menu-item">
                <span class="name">Learn</span>
                <span class="chevron"></span>
            </div>
            <div class="menu-item">
                <span class="name">Foundation</span>
                <span class="chevron"></span>
            </div>
            <div class="menu-item">
                <span class="name">Components</span>
                <span class="chevron"></span>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="version">
            <eui-badge type="text" color="primary">v0.0.1</eui-badge>
        </div>
        <div class="search">
            <eui-icon name="magnifying-glass" type="outline"></eui-icon>
        </div>
        <div class="theme">
            <eui-icon name="sun" type="outline"></eui-icon>
        </div>
        <div class="github">G</div>
        <div class="figma">F</div>
    </div>
</div>